.title {
    background-color: var(--color-light);
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    padding: 0.5vh 1vh;
}

.posts {
    width: 100%;
    margin-top: 1vh;

    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1vh;
    padding-right: 1vh;
}

.postLi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vh;

    height: 3vh;
    width: 100%;
    line-height: 3vh;
    border-radius: 1vh;
    padding: 0 1vh;
    margin-bottom: 1vh;
    
    background: var(--color-light);
    
    & p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: max-content;
    }
}

.skeleton {
    height: 1vh;
    width: 100%;
    border-radius: 1vh;
    background: linear-gradient(90deg, #00000048, #00000048, #00000048, #00000022, #00000048, #00000048, #00000048);
    background-size: 300% 300%;

    animation: AnimationName 1.5s linear infinite;
}

@keyframes AnimationName {
    0%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.aboutButtonShow {
    display: block;
}

.aboutButtonHide {
    display: none;
}

::-webkit-scrollbar {
    background-color: rgb(89, 89, 89);
    width: 1vh;
    border-radius: 1vh;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(40, 40, 40);
    border-radius: 1vh;
}