* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  --color-light: rgb(159, 159, 159);
  --color-dark: rgb(65, 65, 65);
  background-color: var(--color-light);
}

button {
  height: 2vh;
  padding: 0 1vh;
  border-radius: 1vh;
  border-style: none;
  background-color: rgb(58, 58, 58);
  color: white;
  cursor: pointer;;
}

button:hover {
  background-color: rgb(77, 77, 77);
}